<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 4.1.1 Linear Regression

Prediction of House Price Using Linear Regression

# Data

The Sacramento real estate transactions file is a list of 985 real estate transactions in the Sacramento area reported over a five-day period, as reported by the Sacramento Bee.

In [78]:
import pandas as pd
import numpy as np
import pandas as pd

%matplotlib inline

## Explore Data

Perform EDA on this dataset. Use what you have learned so far. Be creative. List all your findings.

In [79]:
# Read CSV
house_csv = "C:/Users/user/Documents/IOD_data_MAIN/DATA/Sacramento_transactions.csv"
house = pd.read_csv(house_csv)

In [51]:
# Data Types
# Hint: Look into the columns zip, sale_date & beds
house.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [52]:
house.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [33]:
house.shape

(985, 12)

In [34]:
house.size

11820

In [53]:
house.describe()

,zip,beds,baths,sq__ft,price,latitude,longitude
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,95750.697462,2.911675,1.776650,1314.916751,234144.263959,38.607732,-121.355982
std,85.176072,1.307932,0.895371,853.048243,138365.839085,0.145433,0.138278
min,95603.000000,0.000000,0.000000,0.000000,1551.000000,38.241514,-121.551704
25%,95660.000000,2.000000,1.000000,952.000000,145000.000000,38.482717,-121.446127
50%,95762.000000,3.000000,2.000000,1304.000000,213750.000000,38.626582,-121.376220
75%,95828.000000,4.000000,2.000000,1718.000000,300000.000000,38.695589,-121.295778
max,95864.000000,8.000000,5.000000,5822.000000,884790.000000,39.020808,-120.597599

In [54]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     985 non-null    object
 1   city       985 non-null    object
 2   zip        985 non-null    int64
 3   state      985 non-null    object
 4   beds       985 non-null    int64
 5   baths      985 non-null    int64
 6   sq__ft     985 non-null    int64
 7   type       985 non-null    object
 8   sale_date  985 non-null    object
 9   price      985 non-null    int64
 10  latitude   985 non-null    float64
 11  longitude  985 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 92.5+ KB

In [9]:
# sale_date column is wrong, there might be duplicated zip number if u check index 2,3.
# maybe the beds number is wrong and doesn't tally with the price

In [ ]:
# Feature Engineering

In [10]:
#house.sale_date = pd.to_datetime(house.sale_date)

In [55]:
# Perform EDA
house.isna().sum()

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [56]:
house.duplicated().sum()

3

In [80]:
#to get duplicated row info 
d_house = house.duplicated()
duplicates = house[d_house]
print(duplicates)

                street            city    zip state  beds  baths  sq__ft  \
342      4734 14TH AVE      SACRAMENTO  95820    CA     2      1     834
404     8306 CURLEW CT  CITRUS HEIGHTS  95621    CA     4      2    1280
601  7 CRYSTALWOOD CIR         LINCOLN  95648    CA     0      0       0

            type                     sale_date   price   latitude   longitude
342  Residential  Mon May 19 00:00:00 EDT 2008   68000  38.539447 -121.450858
404  Residential  Mon May 19 00:00:00 EDT 2008  167293  38.715781 -121.298519
601  Residential  Mon May 19 00:00:00 EDT 2008    4897  38.885962 -121.289436

In [81]:
house.drop_duplicates()
print(house.iloc[[342,404]])

             street            city    zip state  beds  baths  sq__ft  \
342   4734 14TH AVE      SACRAMENTO  95820    CA     2      1     834
404  8306 CURLEW CT  CITRUS HEIGHTS  95621    CA     4      2    1280

            type                     sale_date   price   latitude   longitude
342  Residential  Mon May 19 00:00:00 EDT 2008   68000  38.539447 -121.450858
404  Residential  Mon May 19 00:00:00 EDT 2008  167293  38.715781 -121.298519

In [59]:
#bed & sq_ft = 0 
bed_0 = house["beds"] == 0
print(house.loc[bed_0])

                       street             city    zip state  beds  baths  \
73              17 SERASPI CT       SACRAMENTO  95834    CA     0      0
89           2866 KARITSA AVE       SACRAMENTO  95833    CA     0      0
100     12209 CONSERVANCY WAY   RANCHO CORDOVA  95742    CA     0      0
121       5337 DUSTY ROSE WAY   RANCHO CORDOVA  95742    CA     0      0
126       2115 SMOKESTACK WAY       SACRAMENTO  95833    CA     0      0
..                        ...              ...    ...   ...   ...    ...
901  1530 TOPANGA LN Unit 204          LINCOLN  95648    CA     0      0
917            501 POPLAR AVE  WEST SACRAMENTO  95691    CA     0      0
934  1550 TOPANGA LN Unit 207          LINCOLN  95648    CA     0      0
947     1525 PENNSYLVANIA AVE  WEST SACRAMENTO  95691    CA     0      0
970             3557 SODA WAY       SACRAMENTO  95834    CA     0      0

     sq__ft         type                     sale_date   price   latitude  \
73        0  Residential  Wed May 21 00:00:00 EDT 2008  206000  38.631481
89        0  Residential  Wed May 21 00:00:00 EDT 2008  244500  38.626671
100       0  Residential  Wed May 21 00:00:00 EDT 2008  263500  38.553867
121       0  Residential  Wed May 21 00:00:00 EDT 2008  320000  38.528575
126       0  Residential  Wed May 21 00:00:00 EDT 2008  339500  38.602416
..      ...          ...                           ...     ...        ...
901       0        Condo  Thu May 15 00:00:00 EDT 2008  138000  38.884150
917       0  Residential  Thu May 15 00:00:00 EDT 2008  165000  38.584526
934       0        Condo  Thu May 15 00:00:00 EDT 2008  188000  38.884170
947       0  Residential  Thu May 15 00:00:00 EDT 2008  200100  38.569943
970       0  Residential  Thu May 15 00:00:00 EDT 2008  224000  38.631026

      longitude
73  -121.501880
89  -121.525970
100 -121.219141
121 -121.228600
126 -121.542965
..          ...
901 -121.270277
917 -121.534609
934 -121.270222
947 -121.527539
970 -121.501879

[108 rows x 12 columns]

In [87]:
bed_mean = house['beds'].mean(axis = 0)
print(bed_mean)

2.9116751269035532

In [89]:
#Add the mean value into bed_0
house["beds"].replace({0: bed_mean}, inplace=True)
print(house.loc[bed_0])

                       street             city    zip state      beds  baths  \
73              17 SERASPI CT       SACRAMENTO  95834    CA  2.911675      0
89           2866 KARITSA AVE       SACRAMENTO  95833    CA  2.911675      0
100     12209 CONSERVANCY WAY   RANCHO CORDOVA  95742    CA  2.911675      0
121       5337 DUSTY ROSE WAY   RANCHO CORDOVA  95742    CA  2.911675      0
126       2115 SMOKESTACK WAY       SACRAMENTO  95833    CA  2.911675      0
..                        ...              ...    ...   ...       ...    ...
901  1530 TOPANGA LN Unit 204          LINCOLN  95648    CA  2.911675      0
917            501 POPLAR AVE  WEST SACRAMENTO  95691    CA  2.911675      0
934  1550 TOPANGA LN Unit 207          LINCOLN  95648    CA  2.911675      0
947     1525 PENNSYLVANIA AVE  WEST SACRAMENTO  95691    CA  2.911675      0
970             3557 SODA WAY       SACRAMENTO  95834    CA  2.911675      0

          sq__ft         type                     sale_date   price  \
73   1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  206000
89   1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  244500
100  1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  263500
121  1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  320000
126  1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  339500
..           ...          ...                           ...     ...
901  1314.916751        Condo  Thu May 15 00:00:00 EDT 2008  138000
917  1314.916751  Residential  Thu May 15 00:00:00 EDT 2008  165000
934  1314.916751        Condo  Thu May 15 00:00:00 EDT 2008  188000
947  1314.916751  Residential  Thu May 15 00:00:00 EDT 2008  200100
970  1314.916751  Residential  Thu May 15 00:00:00 EDT 2008  224000

      latitude   longitude
73   38.631481 -121.501880
89   38.626671 -121.525970
100  38.553867 -121.219141
121  38.528575 -121.228600
126  38.602416 -121.542965
..         ...         ...
901  38.884150 -121.270277
917  38.584526 -121.534609
934  38.884170 -121.270222
947  38.569943 -121.527539
970  38.631026 -121.501879

[108 rows x 12 columns]

In [83]:
sq_ft_0 = house["sq__ft"] == 0
print(house.loc[sq_ft_0])
#print(sq_ft_0)

                       street             city    zip state  beds  baths  \
73              17 SERASPI CT       SACRAMENTO  95834    CA     0      0
89           2866 KARITSA AVE       SACRAMENTO  95833    CA     0      0
100     12209 CONSERVANCY WAY   RANCHO CORDOVA  95742    CA     0      0
121       5337 DUSTY ROSE WAY   RANCHO CORDOVA  95742    CA     0      0
126       2115 SMOKESTACK WAY       SACRAMENTO  95833    CA     0      0
..                        ...              ...    ...   ...   ...    ...
934  1550 TOPANGA LN Unit 207          LINCOLN  95648    CA     0      0
947     1525 PENNSYLVANIA AVE  WEST SACRAMENTO  95691    CA     0      0
966          9197 CORTINA CIR        ROSEVILLE  95678    CA     3      2
970             3557 SODA WAY       SACRAMENTO  95834    CA     0      0
973      2181 WINTERHAVEN CIR     CAMERON PARK  95682    CA     3      2

     sq__ft         type                     sale_date   price   latitude  \
73        0  Residential  Wed May 21 00:00:00 EDT 2008  206000  38.631481
89        0  Residential  Wed May 21 00:00:00 EDT 2008  244500  38.626671
100       0  Residential  Wed May 21 00:00:00 EDT 2008  263500  38.553867
121       0  Residential  Wed May 21 00:00:00 EDT 2008  320000  38.528575
126       0  Residential  Wed May 21 00:00:00 EDT 2008  339500  38.602416
..      ...          ...                           ...     ...        ...
934       0        Condo  Thu May 15 00:00:00 EDT 2008  188000  38.884170
947       0  Residential  Thu May 15 00:00:00 EDT 2008  200100  38.569943
966       0        Condo  Thu May 15 00:00:00 EDT 2008  220000  38.793152
970       0  Residential  Thu May 15 00:00:00 EDT 2008  224000  38.631026
973       0  Residential  Thu May 15 00:00:00 EDT 2008  224500  38.697570

      longitude
73  -121.501880
89  -121.525970
100 -121.219141
121 -121.228600
126 -121.542965
..          ...
934 -121.270222
947 -121.527539
966 -121.290025
970 -121.501879
973 -120.995739

[171 rows x 12 columns]

In [84]:
house_sq__ft_mean = house['sq__ft'].mean(axis = 0)
print(house_sq__ft_mean)

1314.9167512690356

In [72]:
help(pd.DataFrame.replace)

Help on function replace in module pandas.core.frame:

replace(self, to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad')
    Replace values given in `to_replace` with `value`.

    Values of the DataFrame are replaced with other values dynamically.
    This differs from updating with ``.loc`` or ``.iloc``, which require
    you to specify a location to update with some value.

    Parameters
    ----------
    to_replace : str, regex, list, dict, Series, int, float, or None
        How to find the values that will be replaced.

        * numeric, str or regex:

            - numeric: numeric values equal to `to_replace` will be
              replaced with `value`
            - str: string exactly matching `to_replace` will be replaced
              with `value`
            - regex: regexs matching `to_replace` will be replaced with
              `value`

        * list of str, regex, or numeric:

            - First, if `to_replace` and `value` are both lists, they
              **must** be the same length.
            - Second, if ``regex=True`` then all of the strings in **both**
              lists will be interpreted as regexs otherwise they will match
              directly. This doesn't matter much for `value` since there
              are only a few possible substitution regexes you can use.
            - str, regex and numeric rules apply as above.

        * dict:

            - Dicts can be used to specify different replacement values
              for different existing values. For example,
              ``{'a': 'b', 'y': 'z'}`` replaces the value 'a' with 'b' and
              'y' with 'z'. To use a dict in this way the `value`
              parameter should be `None`.
            - For a DataFrame a dict can specify that different values
              should be replaced in different columns. For example,
              ``{'a': 1, 'b': 'z'}`` looks for the value 1 in column 'a'
              and the value 'z' in column 'b' and replaces these values
              with whatever is specified in `value`. The `value` parameter
              should not be ``None`` in this case. You can treat this as a
              special case of passing two lists except that you are
              specifying the column to search in.
            - For a DataFrame nested dictionaries, e.g.,
              ``{'a': {'b': np.nan}}``, are read as follows: look in column
              'a' for the value 'b' and replace it with NaN. The `value`
              parameter should be ``None`` to use a nested dict in this
              way. You can nest regular expressions as well. Note that
              column names (the top-level dictionary keys in a nested
              dictionary) **cannot** be regular expressions.

        * None:

            - This means that the `regex` argument must be a string,
              compiled regular expression, or list, dict, ndarray or
              Series of such elements. If `value` is also ``None`` then
              this **must** be a nested dictionary or Series.

        See the examples section for examples of each of these.
    value : scalar, dict, list, str, regex, default None
        Value to replace any values matching `to_replace` with.
        For a DataFrame a dict of values can be used to specify which
        value to use for each column (columns not in the dict will not be
        filled). Regular expressions, strings and lists or dicts of such
        objects are also allowed.
    inplace : bool, default False
        If True, in place. Note: this will modify any
        other views on this object (e.g. a column from a DataFrame).
        Returns the caller if this is True.
    limit : int or None, default None
        Maximum size gap to forward or backward fill.
    regex : bool or same types as `to_replace`, default False
        Whether to interpret `to_replace` and/or `value` as regular
        expressions. If this is ``True`` then `to_replace` *must* be a
        string. Alternatively, this could be a regular expression or a
        list, dict, or array of regular expressions in which case
        `to_replace` must be ``None``.
    method : {'pad', 'ffill', 'bfill', `None`}
        The method to use when for replacement, when `to_replace` is a
        scalar, list or tuple and `value` is ``None``.

    Returns
    -------
    DataFrame or None
        Object after replacement or None if ``inplace=True``.

    Raises
    ------
    AssertionError
        * If `regex` is not a ``bool`` and `to_replace` is not
          ``None``.

    TypeError
        * If `to_replace` is not a scalar, array-like, ``dict``, or ``None``
        * If `to_replace` is a ``dict`` and `value` is not a ``list``,
          ``dict``, ``ndarray``, or ``Series``
        * If `to_replace` is ``None`` and `regex` is not compilable
          into a regular expression or is a list, dict, ndarray, or
          Series.
        * When replacing multiple ``bool`` or ``datetime64`` objects and
          the arguments to `to_replace` does not match the type of the
          value being replaced

    ValueError
        * If a ``list`` or an ``ndarray`` is passed to `to_replace` and
          `value` but they are not the same length.

    See Also
    --------
    DataFrame.fillna : Fill NA values.
    DataFrame.where : Replace values based on boolean condition.
    Series.str.replace : Simple string replacement.

    Notes
    -----
    * Regex substitution is performed under the hood with ``re.sub``. The
      rules for substitution for ``re.sub`` are the same.
    * Regular expressions will only substitute on strings, meaning you
      cannot provide, for example, a regular expression matching floating
      point numbers and expect the columns in your frame that have a
      numeric dtype to be matched. However, if those floating point
      numbers *are* strings, then you can do this.
    * This method has *a lot* of options. You are encouraged to experiment
      and play with this method to gain intuition about how it works.
    * When dict is used as the `to_replace` value, it is like
      key(s) in the dict are the to_replace part and
      value(s) in the dict are the value parameter.

    Examples
    --------

    **Scalar `to_replace` and `value`**

    >>> s = pd.Series([0, 1, 2, 3, 4])
    >>> s.replace(0, 5)
    0    5
    1    1
    2    2
    3    3
    4    4
    dtype: int64

    >>> df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
    ...                    'B': [5, 6, 7, 8, 9],
    ...                    'C': ['a', 'b', 'c', 'd', 'e']})
    >>> df.replace(0, 5)
       A  B  C
    0  5  5  a
    1  1  6  b
    2  2  7  c
    3  3  8  d
    4  4  9  e

    **List-like `to_replace`**

    >>> df.replace([0, 1, 2, 3], 4)
       A  B  C
    0  4  5  a
    1  4  6  b
    2  4  7  c
    3  4  8  d
    4  4  9  e

    >>> df.replace([0, 1, 2, 3], [4, 3, 2, 1])
       A  B  C
    0  4  5  a
    1  3  6  b
    2  2  7  c
    3  1  8  d
    4  4  9  e

    >>> s.replace([1, 2], method='bfill')
    0    0
    1    3
    2    3
    3    3
    4    4
    dtype: int64

    **dict-like `to_replace`**

    >>> df.replace({0: 10, 1: 100})
         A  B  C
    0   10  5  a
    1  100  6  b
    2    2  7  c
    3    3  8  d
    4    4  9  e

    >>> df.replace({'A': 0, 'B': 5}, 100)
         A    B  C
    0  100  100  a
    1    1    6  b
    2    2    7  c
    3    3    8  d
    4    4    9  e

    >>> df.replace({'A': {0: 100, 4: 400}})
         A  B  C
    0  100  5  a
    1    1  6  b
    2    2  7  c
    3    3  8  d
    4  400  9  e

    **Regular expression `to_replace`**

    >>> df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
    ...                    'B': ['abc', 'bar', 'xyz']})
    >>> df.replace(to_replace=r'^ba.$', value='new', regex=True)
          A    B
    0   new  abc
    1   foo  new
    2  bait  xyz

    >>> df.replace({'A': r'^ba.$'}, {'A': 'new'}, regex=True)
          A    B
    0   new  abc
    1   foo  bar
    2  bait  xyz

    >>> df.replace(regex=r'^ba.$', value='new')
          A    B
    0   new  abc
    1   foo  new
    2  bait  xyz

    >>> df.replace(regex={r'^ba.$': 'new', 'foo': 'xyz'})
          A    B
    0   new  abc
    1   xyz  new
    2  bait  xyz

    >>> df.replace(regex=[r'^ba.$', 'foo'], value='new')
          A    B
    0   new  abc
    1   new  new
    2  bait  xyz

    Compare the behavior of ``s.replace({'a': None})`` and
    ``s.replace('a', None)`` to understand the peculiarities
    of the `to_replace` parameter:

    >>> s = pd.Series([10, 'a', 'a', 'b', 'a'])

    When one uses a dict as the `to_replace` value, it is like the
    value(s) in the dict are equal to the `value` parameter.
    ``s.replace({'a': None})`` is equivalent to
    ``s.replace(to_replace={'a': None}, value=None, method=None)``:

    >>> s.replace({'a': None})
    0      10
    1    None
    2    None
    3       b
    4    None
    dtype: object

    When ``value=None`` and `to_replace` is a scalar, list or
    tuple, `replace` uses the method parameter (default 'pad') to do the
    replacement. So this is why the 'a' values are being replaced by 10
    in rows 1 and 2 and 'b' in row 4 in this case.
    The command ``s.replace('a', None)`` is actually equivalent to
    ``s.replace(to_replace='a', value=None, method='pad')``:

    >>> s.replace('a', None)
    0    10
    1    10
    2    10
    3     b
    4     b
    dtype: object

In [86]:
#add mean value into sq ft 
house["sq__ft"].replace({0: house_sq__ft_mean}, inplace=True)
print(house.loc[sq_ft_0])

                       street             city    zip state  beds  baths  \
73              17 SERASPI CT       SACRAMENTO  95834    CA     0      0
89           2866 KARITSA AVE       SACRAMENTO  95833    CA     0      0
100     12209 CONSERVANCY WAY   RANCHO CORDOVA  95742    CA     0      0
121       5337 DUSTY ROSE WAY   RANCHO CORDOVA  95742    CA     0      0
126       2115 SMOKESTACK WAY       SACRAMENTO  95833    CA     0      0
..                        ...              ...    ...   ...   ...    ...
934  1550 TOPANGA LN Unit 207          LINCOLN  95648    CA     0      0
947     1525 PENNSYLVANIA AVE  WEST SACRAMENTO  95691    CA     0      0
966          9197 CORTINA CIR        ROSEVILLE  95678    CA     3      2
970             3557 SODA WAY       SACRAMENTO  95834    CA     0      0
973      2181 WINTERHAVEN CIR     CAMERON PARK  95682    CA     3      2

          sq__ft         type                     sale_date   price  \
73   1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  206000
89   1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  244500
100  1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  263500
121  1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  320000
126  1314.916751  Residential  Wed May 21 00:00:00 EDT 2008  339500
..           ...          ...                           ...     ...
934  1314.916751        Condo  Thu May 15 00:00:00 EDT 2008  188000
947  1314.916751  Residential  Thu May 15 00:00:00 EDT 2008  200100
966  1314.916751        Condo  Thu May 15 00:00:00 EDT 2008  220000
970  1314.916751  Residential  Thu May 15 00:00:00 EDT 2008  224000
973  1314.916751  Residential  Thu May 15 00:00:00 EDT 2008  224500

      latitude   longitude
73   38.631481 -121.501880
89   38.626671 -121.525970
100  38.553867 -121.219141
121  38.528575 -121.228600
126  38.602416 -121.542965
..         ...         ...
934  38.884170 -121.270222
947  38.569943 -121.527539
966  38.793152 -121.290025
970  38.631026 -121.501879
973  38.697570 -120.995739

[171 rows x 12 columns]

# Predict Price

We are going to predict `price` from available information.

## What is the Target Variable? Why?

In [ ]:
# ANSWER Price

## List all possible variables which might be Predictor variable.

In [ ]:
# ANSWER bed and sq_ft

## Find correlation between variables

Find correlation between variables. Which is the best predictor? Why? State your reason.

In [ ]:
# ANSWER

## What is the simplest way to predict price

So we have information for 985 houses. What is the easiest way to predict price of a house?

In [ ]:
# ANSWER

## Find Residuals

Find difference between actual value and predicted value. Use absolute value.

In [ ]:
# ANSWER

## Predict Using Linear Regression

[Simple Linear Regression](https://en.wikipedia.org/wiki/Simple_linear_regression#Fitting_the_regression_line)

$$\hat{y} = \beta_0 + \beta_1 x$$

where

> $$ \beta_1 = \frac{\sum_{i=1}^n (y_i - \bar{y} ) (x_i - \bar{x} )}{\sum_{i=1}^n (x_i - \bar{x})^2} $$

and

> $$ \beta_0 = \bar{y} - \beta_1\bar{x} $$

Given variables:
- $\bar{y}$ : the sample mean of observed values $Y$
- $\bar{x}$ : the sample mean of observed values $X$
- $s_Y$ : the sample standard deviation of observed values $Y$
- $s_X$ : the sample standard deviation of observed values $X$
- $r_{XY}$ : the sample Pearson correlation coefficient between observed $X$ and $Y$

### Define X, Y

- X = Predictor Variable 
- Y = Target Variable

In [90]:
# ANSWER
X = house['sq__ft']
Y = house['price']

### Calculate beta_1

$$ \beta_1 = \frac{\sum_{i=1}^n (y_i - \bar{y} ) (x_i - \bar{x} )}{\sum_{i=1}^n (x_i - \bar{x})^2} $$

In [91]:
Y_mean = Y.mean()
X_mean = X.mean()
print(X_mean, Y_mean)

1543.1916390527942 234144.26395939087

In [117]:
def Cal_beta_1(X,Y):
   
    return np.sum(((Y - Y_mean) * (X - X_mean)) / np.sum((X - X_mean) ** 2))

print(Cal_beta_1(X,Y))

118.69712897275272

In [118]:
beta1 = Cal_beta_1(X,Y)
print(beta1)

118.69712897275272

In [95]:
# ANSWER
    
#beta_1 = (((Y - Y_mean) * (X - X_mean)).sum() / ((X - X_mean) ** 2)).sum() 
#print(beta_1)

2406570884339.244

### Calculate beta_0

$$ \beta_0 = \bar{y} - \beta_1\bar{x} $$

In [121]:
# ANSWER
def Cal_beta_0(X,Y):
    return np.sum((Y_mean - (beta1 * X_mean)))

In [124]:
print(Cal_beta_0(X,Y))
beta0 = Cal_beta_0(X,Y)

50971.846949067694

In [28]:
#beta_0 = ( Y_mean - beta_1 * X_mean)
#print(beta_0)

-7441214201175773.0

### Find Yhat (Predicted Value Using Beta 0 and Beta 1)

$$\hat{y} = \beta_0 + \beta_1 x$$

In [126]:
# ANSWER
def yhat():
    return np.sum((beta0 + (beta1 * X)))

yhat_res = yhat()
print(yhat_res)

230632100.00000033

### Find Residuals

$$ \text{residual}_i = y_i - \hat{y}_i$$

In [127]:
# ANSWER
def residual():
    return np.sum(Y - yhat_res)

res_result = residual()
print(res_result)

-226941986400.00037

### Find R-Square

The coefficient $R^2$ is defined as $$ R^2 = 1 - \frac{SS_{res}}{SS_{tot}} $$, where $$ SS_{res} $$ is the residual sum of squares $$ SS_{res} = \sum_{i=1}^n \left(y_i - \hat{y}_i\right)^2 $$ and $$ SS_{res} $$ is the total sum of squares $$ SS_{tot} = \sum_{i=1}^n \left(y_i - \bar{y}\right)^2 $$

The best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse).

**Write a function to calculate R- Square value.**

The total sum of squares:

$$ SS_{tot} = \sum_{i=1}^n \left(y_i - \bar{y}\right)^2 $$

The residual sum of squares:

$$ SS_{res} = \sum_{i=1}^n \left(y_i - \hat{y}_i\right)^2 $$

$R^2$:

$$ R^2 = 1 - \frac{SS_{res}}{SS_{tot}} $$

In [ ]:
# ANSWER

### [BONUS] Draw Plot of Predicted Line

In [ ]:
# ANSWER

### [BONUS] Draw Plot of Predicted Line With Residuals

In [ ]:
# ANSWER

### Predict House Price

Let's assume we have information of following house:

- street:	1140 EDMONTON DR
- city:	SACRAMENTO
- zip:	95833
- state:	CA
- beds:	3
- baths:	2
- sq__ft:	1204
- type:	Residential

**Predict the price of this house.**

In [ ]:
# ANSWER

## Find Coefficient and Intercept using Linear SKLearn Regression

Using LinearRegression of sklearn.linear_model package find Coefficient and Intercept.

In [142]:
X.shape

(985,)

In [144]:
house[['price']].shape

(985, 1)

In [131]:
# ANSWER
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit([X], [Y])
reg.coef_

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [132]:
reg.intercept_

array([ 59222.,  68212.,  68880.,  69307.,  81900.,  89921.,  90895.,
        91002.,  94905.,  98937., 100309., 106250., 106852., 107502.,
       108750., 110700., 113263., 116250., 120000., 121630., 122000.,
       122682., 123000., 124100., 125000., 126640., 127281., 129000.,
       131200., 132000., 133000., 134555., 136500., 138750., 141000.,
       146250., 147308., 148750., 149593., 150000., 152000., 154000.,
       156896., 161250., 161500., 164000., 165000., 166357., 166357.,
       168000., 170000., 173000., 174250., 174313., 178480., 178760.,
       179580., 181000., 181872., 182587., 182716., 182750., 183200.,
       188741., 189000., 192067., 194000., 194818., 195000., 198000.,
       199500., 200000., 200000., 206000., 208000., 212864., 221000.,
       221000., 223058., 227887., 231477., 234697., 235000., 236000.,
       236685., 237800., 240122., 242638., 244000., 244500., 244960.,
       245918., 250000., 250000., 250134., 254200., 254200., 258000.,
       260000., 260014., 263500., 265000., 265000., 271742., 273750.,
       275086., 280908., 280987., 282400., 285000., 287417., 291000.,
       292024., 297000., 297000., 298000., 299000., 304037., 311000.,
       315537., 320000., 320000., 328360., 334150., 335750., 335750.,
       339500., 344250., 346210., 347029., 347650., 351300., 352000.,
       370000., 370500., 372000., 375000., 381300., 381942., 387731.,
       391000., 394470., 395000., 400186., 415000., 425000., 430000.,
       445000., 460000., 461000., 489332., 510000., 539000., 585000.,
       600000., 606238., 660000., 830000.,  69000.,  70000.,  71000.,
        78000.,  78400.,  80000.,  89000.,  90000.,  90000.,  92000.,
        93675.,  97750.,  98000.,  98000.,  99000., 100000., 106716.,
       111000., 111000., 114800., 120108., 123225., 123750., 125000.,
       125000., 126000., 129000., 134000., 135000., 135500., 140000.,
       140000., 142500., 143500., 145000., 145000., 145000., 145000.,
       146000., 148500., 149000., 150000., 150000., 152000., 156000.,
       156000., 156000., 157788., 161653., 161829., 165000., 168000.,
       169000., 175000., 176250., 179000., 180000., 180400., 182000.,
       184500., 185000., 189000., 194000., 195000., 200000., 201000.,
       202500., 205000., 205000., 205000., 205000., 207000., 210000.,
       211500., 215000., 215000., 215500., 222381., 225000., 225000.,
       225000., 225000., 228000., 229665., 230000., 230000., 230000.,
       234000., 235000., 236250., 240000., 242000., 245000., 245000.,
       245000., 250000., 250000., 250000., 250000., 255000., 256054.,
       257729., 260000., 261000., 261800., 264469., 265000., 270000.,
       270000., 270000., 270000., 275000., 275000., 280000., 286013.,
       292000., 292000., 293993., 294000., 296769., 297500., 300000.,
       300000., 300000., 300000., 300500., 305000., 306500., 312500.,
       315000., 319789., 330000., 330000., 331000., 334000., 336000.,
       339000., 339000., 345000., 350000., 356000., 361745., 361948.,
       370000., 380000., 385000., 399000., 402000., 406026., 420000.,
       425000., 425000., 433500., 436746., 438700., 445000., 450000.,
       460000., 460000., 460000., 465000., 471750., 480000., 484000.,
       485000., 495000., 500500., 504000., 541000., 560000., 572500.,
       582000., 613401., 614000., 680000., 699000., 839000.,  40000.,
        48000.,  61500.,  62050.,  65000.,  65000.,  68000.,  68000.,
        77000.,  82732.,  84000.,  84675.,  85000.,  90000.,  90000.,
        91000.,  95000.,  97500., 100000., 100000., 101000., 102750.,
       112500., 113000., 114000., 114000., 114750., 115000., 115000.,
       116100., 119250., 120000., 120000., 120000., 120108., 121500.,
       121725., 122000., 123000., 125000., 125573., 126714., 126960.,
       127000., 127500., 130000., 133105., 136500., 139500., 140000.,
       140800., 145000., 147000., 149600., 150000., 150000., 150000.,
       155000., 155435., 155500., 158000., 158000., 160000., 160000.,
       164000., 164000., 165000., 167000., 167293., 167293., 168000.,
       170000., 170000., 170000., 174000., 178000., 180000., 180000.,
       180000., 182000., 188325., 191500., 192000., 192700., 195000.,
       197654., 198000., 200345., 203000., 207000., 208000., 210000.,
       212000., 213675., 213697., 215000., 215000., 215100., 217500.,
       218000., 220000., 221000., 222900., 223139., 225500., 228327.,
       230000., 230000., 230522., 231200., 232000., 232500., 233641.,
       234000., 234500., 235000., 236000., 236073., 238000., 238861.,
       239700., 240000., 240000., 241000., 245000., 246000., 247234.,
       247480., 249862., 251000., 252155., 254172., 258000., 260000.,
       261000., 261000., 261000., 262500., 266000., 266000., 270000.,
       274425., 274500., 275336., 277980., 280000., 284686., 284893.,
       285000., 285000., 285000., 289000., 295000., 296000., 296056.,
       297359., 299940., 304000., 305000., 307000., 311328., 313138.,
       316630., 320000., 320000., 325000., 328578., 331000., 331500.,
       340000., 344755., 345746., 351000., 353767., 355000., 356035.,
       360000., 360552., 362305., 365000., 367554., 368500., 370000.,
       371086., 378000., 383000., 388000., 395100., 400000., 400000.,
       408431., 413000., 416767., 420000., 423000., 423000., 427500.,
       430922., 445000., 450000., 452000., 470000., 471000., 475000.,
       484500., 487500., 488750., 500000., 506688., 512000., 520000.,
       528000., 579093., 636000., 668365., 676200., 677048., 691659.,
       760000.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,   4897.,   4897.,   4897.,   4897.,   4897.,   4897.,
         4897.,  30000.,  30000.,  55422.,  63000.,  65000.,  65000.,
        65000.,  66500.,  71000.,  75000.,  77000.,  85000.,  95625.,
        96140., 104250., 105000., 108000., 109000., 115000., 115000.,
       115500., 115620., 116000., 122000., 122500., 123000., 124000.,
       124000., 124413., 125000., 130000., 131750., 137721., 137760.,
       138000., 140000., 145000., 145000., 150000., 150000., 151000.,
       155000., 155800., 156142., 158000., 159900., 160000., 161500.,
       161600., 162000., 165000., 165000., 167293., 168000., 168000.,
       168750., 168750., 170000., 170250., 173000., 175000., 176095.,
       176250., 178000., 179000., 180000., 180000., 180000., 181000.,
       182000., 182587., 185074., 185833., 186785., 187000., 188335.,
       190000., 190000., 190000., 190000., 191250., 193000., 193500.,
       194818., 195000., 195000., 195000., 195000., 198000., 199900.,
       200000., 201000., 204918., 205000., 205000., 205878., 207000.,
       207744., 209000., 210000., 210944., 212500., 213750., 215000.,
       215000., 215000., 216033., 220000., 220000., 220000., 220000.,
       220000., 220702., 221250., 222000., 222500., 222750., 225000.,
       225000., 228750., 229000., 230095., 232500., 233000., 233500.,
       239000., 240000., 240000., 240971., 242000., 243450., 243500.,
       246544., 246750., 247000., 247000., 249000., 249000., 250000.,
       250000., 250000., 252000., 255000., 255000., 255000., 257200.,
       260000., 260000., 263500., 266510., 267750., 270000., 271000.,
       272700., 275000., 275000., 276000., 276500., 278000., 279000.,
       280000., 280000., 285000., 288000., 289000., 290000., 290000.,
       293996., 294000., 294173., 295000., 298000., 298000., 299000.,
       300000., 300000., 300000., 300567., 303000., 305000., 306000.,
       310000., 310000., 310000., 311518., 312000., 313000., 315000.,
       315000., 315000., 315000., 315000., 320000., 322000., 325000.,
       325500., 326951., 328370., 330000., 330000., 331200., 332000.,
       334000., 335000., 341000., 346375., 347225., 349000., 350000.,
       350000., 350000., 350000., 351000., 356200., 360000., 367463.,
       375000., 380000., 380578., 386222., 389000., 390000., 395500.,
       396000., 397000., 400000., 400000., 412500., 413500., 415000.,
       420454., 425000., 425000., 433500., 438000., 441000., 445000.,
       446000., 450000., 455000., 460000., 475000., 490000., 493000.,
       508000., 511000., 525000., 533000., 545000., 560000., 575000.,
       575000., 598695., 600000., 600000., 600000., 600000., 610000.,
       622500., 680000., 879000., 884790.,   1551.,   2000.,  56950.,
        60000.,  61000.,  62000.,  68566.,  70000.,  80000.,  85500.,
        92000.,  93600.,  95000.,  97750., 104000., 105000., 107666.,
       109000., 110000., 110000., 112500., 114800., 116000., 119000.,
       121500., 122000., 123675., 126854., 127059., 128687., 129500.,
       130000., 131750., 132000., 134000., 134000., 138000., 142000.,
       143012., 145846., 147000., 148750., 150000., 150454., 151087.,
       157296., 157500., 160000., 160000., 161250., 164000., 165000.,
       165000., 165750., 166000., 169000., 170000., 170000., 170000.,
       170000., 170725., 171750., 172000., 173056., 174000., 174250.,
       176850., 179500., 185000., 188000., 188700., 189000., 189000.,
       189836., 190000., 191250., 191675., 195500., 198000., 200000.,
       200000., 200000., 200100., 201528., 204750., 205000., 205000.,
       205900., 207000., 207973., 208250., 208318., 209347., 211500.,
       212000., 213000., 216000., 216021., 219000., 219794., 220000.,
       220000., 220000., 220000., 223000., 224000., 224000., 224252.,
       224500., 225000., 228000., 229027., 229500., 230000., 230000.,
       232425., 234000., 235000., 235301., 235738.])

### Find R Score

In [139]:
# ANSWER
from sklearn.metrics import r2_score

r2_score(Y, X)

-2.8241985753681735

In [153]:
r2_score([Y], [X])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

nan

# Splitting Data

In [145]:
# ANSWER
from sklearn.model_selection import train_test_split

## Create training and testing subsets

Hint: Using `train_test_split` Library

In [155]:
# ANSWER
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

## Check Shape, Sample of Test Train Data

In [156]:
# ANSWER
x_train.shape

(788,)

In [157]:
x_test.shape

(197,)

In [158]:
y_train.shape

(788,)

In [159]:
y_test.shape

(197,)

## Using Linear Regression Find The Score

1. Fit model using X_train, y_train
2. Find score using x_test, y_test

In [160]:
# ANSWER
reg_test = LinearRegression().fit([x_train], [y_train])
print(reg_test)

LinearRegression()

In [161]:
r2_score(x_test, y_test)

-183088.24385545898

## Predict House Price

Let's assume we have information of following house:

- street:	1140 EDMONTON DR
- city:	SACRAMENTO
- zip:	95833
- state:	CA
- beds:	3
- baths:	2
- sq__ft:	1204
- type:	Residential

What is the predicted value of that house?

In [ ]:
# ANSWER

## Find the error

In [ ]:
# ANSWER